<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* .content-table {
      border-collapse: collapse;
    } */
    table{
        border-collapse: collapse;
    }

    th,td{
        text-align: center;
        padding: 20px;
    }
  </style>
</head>

<body>

  <center>
  <table class="content-table" id="myTable">
    <table border="1px">
      <tr>
        <th colspan="5">DOMAIN</th>
        <th colspan="2">IT</th>
        <th colspan="2">CORE</th>
        <th colspan="2">ITES</th>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <th colspan="5">COMPANY NAME</th>
        <th colspan="2">TCS</th>
        <th colspan="2">SIAP</th>
        <th colspan="2">QSPIDER</th>
        <th> </th>
      </tr>
      <tr>
        <th colspan="5">ON/OFF</th>
        <th colspan="2">OFF</th>
        <th colspan="2">ON</th>
        <th colspan="2">ON</th>
        <th> </th>
      </tr>
      <tr>
        <th>s.no</th>
        <th>ID</th>
        <th>Name</th>
        <th>Contact no</th>
        <th>Branch</th>
        <th colspan="2">Gender</th>
        
        <th colspan="2">Gender</th>
        
        <th colspan="2">Gender</th>
        
        <th> </th>
      </tr>

      <tr>
        <!-- student - 1 -->
        <td>1</td>
        <td>19NU1A0519</td>
        <td>Ch Bhargav</td>
        <td>0011223366</td>
        <td>CSE</td>

        <td colspan="2">-</td>
        
        <td colspan="2">Male</td>
        
        <td colspan="2">Male</td>
        
        <td>2</td>
      </tr>

      <tr>
        <!-- student - 2 -->
        <td>2</td>
        <td>19NU1A0527</td>
        <td>Gayathri Suresh</td>
        <td>0011223366</td>
        <td>CSE</td>

        <td colspan="2">-</td>
        
        <td colspan="2">Female</td>
        
        <td colspan="2">Female</td>
        
        <td>2</td>
      </tr>

      <tr>
        <!-- student - 3 -->
        <td>3</td>
        <td>19NU1A0537</td>
        <td>Jenna Vijayanthi</td>
        <td>0011223366</td>
        <td>CSE</td>

        <td colspan="2">-</td>
        
        <td colspan="2">Female</td>
        
        <td colspan="2">Female</td>
        
        <td>2</td>
      </tr>

      <tr>
        <!-- student - 4 -->
        <td>4</td>
        <td>19NU1A0588</td>
        <td>P Chandra Kiran</td>
        <td>0011223366</td>
        <td>CSE</td>

        <td colspan="2">Male</td>
        
        <td colspan="2">-</td>
        
        <td colspan="2">-</td>
        
        <td>1</td>
      </tr>

      <tr>
        <!-- student - 5 -->
        <td>5</td>
        <td>19NU1A05A1</td>
        <td>Sudheer Kumar Seera</td>
        <td>0011223366</td>
        <td>CSE</td>

        <td colspan="2">-</td>
        
        <td colspan="2">-</td>
        
        <td colspan="2">Male</td>
        
        <td>1</td>
      </tr>
    </table>
    </center>

</body>

</html>